---
  version: "3.8"
  services:
    timer:
      image: wiseindy/timer-for-google-assistant
      container_name: timer
      secrets:
        - timer_security_key
        - timer_ifttt_event_key
      environment:
        PORT: 3333
        # Secrets can be used by adding FILE__ before each env
        FILE__SECURITY_KEY: /run/secrets/timer_security_key
        # SECURITY_KEY: ChangeThisToSomethingSecure
        FILE__IFTTT_EVENT_KEY: /run/secrets/timer_ifttt_event_key
        # IFTTT_EVENT_KEY: xxxxxxxxxxxxxxxxxxxxxx
        IFTTT_EVENT_OFF_SUFFIX: _off
        IFTTT_EVENT_ON_SUFFIX: _on
      ports:
        - 3020:3333
      restart: unless-stopped
  
  secrets:
    timer_security_key:
      file: ./security_key.secret
    timer_ifttt_event_key:
      file: ./ifttt_event_key.secret
  ...